faker
wtforms
alembic==1.0.10
Click==7.0
Flask==1.0.2
Flask-Assets==0.12
Flask-Migrate==2.4.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
itsdangerous==1.1.0
Jinja2==2.10.1
Mako==1.0.10
MarkupSafe==1.1.1
psycopg2==2.8.4
python-dateutil==2.8.0
python-editor==1.0.4
redis==3.2.1
rq==1.0
six==1.12.0
SQLAlchemy==1.3.3
virtualenv==16.5.0
webassets==0.12.1
Werkzeug==0.15.2
bleach==3.1.0
Flask-Bcrypt==0.7.1
Flask-Mail==0.9.1
Flask-Login==0.4.1
Flask-WTF==0.14.2
Flask-Compress==1.4.0
Flask-RQ==0.2
raygun4py==4.3.0
Flask-Uploads==0.2.1
Flask-CKEditor==0.4.3
Flask-Share==0.1.1
Flask-Moment==0.8.0
sqlalchemy-mptt==0.2.4
Flask-PageDown==0.2.2
wtforms-html5==0.1.3
WTForms-Alchemy==0.16.9
Flask-SSLify==0.1.5
Flask-RESTful==0.3.7
opencv-python==4.1.1.26