{% extends 'layouts/base.html' %}
{% import 'macros/event_macros.html' as event_wid %}

{% block content %}
    <div class="ui two column centered grid">
        <div class="column">
            <h1>Available events</h1>
        </div>
    </div>
    <div class="ui grid">
        <div class="four wide column"></div>
        <div class="eight wide column">
            <div class="ui cards">
                {% for event in appts %}
                    {{ event_wid.event_wid(event) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
