{% extends 'layouts/base.html' %}
{% block page_title %}{{ appt.event_title or '(No Title)' }} in {{ appt.event_city|default('') }}{% endblock %}
{% block custom_head_tags %}
	
    <meta name="description" content="{{ appt.event_title or '(No Title)' }} on {{ config.APP_NAME }} by {{ appt.organisation.org_name }} Posted on {{ appt.pub_date.strftime( '%d %B, %Y ') }}, application deadline {{ appt.end_date.strftime( '%d %B, %Y ') }}">
    <meta name="image" content="{{ url_for('static', filename='img/rsz_dreamstime_m_141105914.jpg') }}">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="{{ appt.event_title or '(No Title)' }} event vacancy in {{ appt.event_city|default('') }}">
    <meta itemprop="description" content="{{ appt.event_title or '(No Title)' }} on {{ config.APP_NAME }} by {{ appt.organisation.org_name }} Posted on {{ appt.pub_date.strftime( '%d %B, %Y ') }}, application deadline {{ appt.end_date.strftime( '%d %B, %Y ') }}">
    <meta itemprop="image" content="{{ url_for('static', filename='img/rsz_dreamstime_m_141105914.jpg') }}">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ appt.event_title or '(No Title)' }} event vacancy in {{ appt.event_city|default('') }}">
    <meta name="twitter:description" content="{{ appt.event_title or '(No Title)' }} on {{ config.APP_NAME }} by {{ appt.organisation.org_name }} Posted on {{ appt.pub_date.strftime( '%d %B, %Y ') }}, application deadline {{ appt.end_date.strftime( '%d %B, %Y ') }}">
    <meta name="twitter:site" content="@networkednigeria">
    <meta name="twitter:creator" content="@anioko1">
    <meta name="twitter:image:src" content="{{ url_for('static', filename='img/rsz_dreamstime_m_141105914.jpg') }}">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="{{ appt.event_title or '(No Title)' }} event vacancy in {{ appt.event_city|default('') }}">
    <meta name="og:description" content="{{ appt.event_title or '(No Title)' }} on {{ config.APP_NAME }} by {{ appt.organisation.org_name }} Posted on {{ appt.pub_date.strftime( '%d %B, %Y ') }}, application deadline {{ appt.end_date.strftime( '%d %B, %Y ') }}">
    <meta name="og:image" content="{{ url_for('static', filename='img/rsz_dreamstime_m_141105914.jpg') }}">
    <meta name="og:url" content="https://networked.ng">
    <meta name="og:site_name" content="Networked in Nigeria">
    <meta name="og:type" content="website">	
	
{% endblock %}
{% block content %}
    <div class="ui sixteen column centered grid">
        <div class="row edit-controls" align="center">
        </div>
        <div class="ui sixteen wide column created_event">
            <h1>{{ appt.event_title or '(No Title)' }}</h1>
            {{ share.load() }}
            <h3>
                {% if appt.creator != current_user %}
                    <a href="{{ url_for('events.event_attend', event_id=appt.id, event_title=appt.event_title) }}">
                        <button style="margin-bottom: 20px;margin-right: 0;" type="button"
                                class="big ui teal button"></i> Register to attend this event
                        </button>
                    </a>
                {% else %}
                    <a href="{{ url_for('organisations.view_attendees', id=appt.id) }}">
                        <button style="margin-bottom: 20px;margin-right: 0;" type="button"
                                class="big ui teal button"></i>See Attendees
                        </button>
                    </a>
                {% endif %}
            </h3>
            <h3><i class="user outline icon"></i> Organisation: {{ appt.organisation.org_name }}</h3>
            <h3><i class="calendar outline icon"></i> Start date: {{ appt.start_date.strftime( '%d %B, %Y ') }}</h3>
            <h3><i class="calendar outline icon"></i> End date: {{ appt.end_date.strftime( '%d %B, %Y ') }}</h3>
            <h3><i class="marker icon"></i> {{ appt.event_city|default('') }},{{ appt.event_country|default('') }}
            </h3>
            {% for org in org_users.user_organisations_created %}
                <h3><i class="building outkine icon"></i> Posted by: {{ org.org_name }}</h3>
            {% endfor %}

            {% for user in org_users %}
                {% for organisation in user.user_organisations_created %}
                    {{ organisation.org_name }}
                {% endfor %}
            {% endfor %}
            <div class="ui two column centered grid">
                <div class="column">
                    <hr>
                    <h4>Event description</h4><!---I took out |default('')|markdown here---->
                    {{ appt.description }}
                    {{ share.create(title='Share with: ') }}
                    <hr>
                </div>
            </div>
            <div class="row edit-controls" align="center">
                <h3>
                    {% if appt.creator != current_user %}
                        <a href="{{ url_for('events.event_attend', event_id=appt.id, event_title=appt.event_title) }}">
                            <button style="margin-bottom: 20px;margin-right: 0;" type="button"
                                    class="big ui teal button"></i> Register to attend event
                            </button>
                        </a>
                    {% else %}
                        <a href="{{ url_for('organisations.view_attendees', id=appt.id) }}">
                            <button style="margin-bottom: 20px;margin-right: 0;" type="button"
                                    class="big ui teal button"></i>See Attendeess
                            </button>
                        </a>
                    {% endif %}
                </h3>
            </div>
        </div>
    </div>

    <div class="ui two column centered grid">
        <div class="column">
            <!--<div style="text-align:center;" class="row btn-group">-->

            <a href="http://www.facebook.com/sharer.php?u={{ url_for('events.event_details',event_id=appt.id, event_title=appt.event_title,event_city=appt.event_city,event_state=appt.event_state, event_country=appt.event_country, _external=True) }}"
               title="On Facebook" target="_blank" class="btn btn-default" style="margin-right:-10px;">
                <i class="fa fa-facebook fa-2x"></i>
            </a>

            <a href="http://www.facebook.com/sharer.php?u={{ url_for('events.event_details',event_id=appt.id, event_title=appt.event_title,event_city=appt.event_city,event_state=appt.event_state, event_country=appt.event_country, _external=True) }}"
               title="On Facebook" target="_blank" class="btn btn-default" style="margin-right:-10px;">
                <i class="fa fa-facebook fa-2x"></i>
            </a>

            <a href="https://twitter.com/intent/tweet?url={{ url_for('events.event_details',event_id=appt.id, event_title=appt.event_title,event_city=appt.event_city,event_state=appt.event_state, event_country=appt.event_country, _external=True) }}&via=Teachera&text={{ appt.event_title }}%20-%20Teachera.org!&hashtags={{ appt.event_title }},{{ appt.event_city }}"
               title="On Twitter" target="_blank" class="btn btn-default" style="margin-right:-10px;">
                <i class="fa fa-twitter fa-2x"></i>
            </a>


            <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ url_for('events.event_details',event_id=appt.id, event_title=appt.event_title,event_city=appt.event_city,event_state=appt.event_state, event_country=appt.event_country, _external=True) }}&title={{ appt.event_title }} in {{ appt.event_city }}&summary=Teachera.org!&source=http://Teachera.org"
               title="On LinkedIn" target="_blank" class="btn btn-default" style="margin-right:-10px;">
                <i class="fa fa-linkedin fa-2x"></i>
            </a>

            <a href="http://vk.com/share.php?url={{ url_for('events.event_details',event_id=appt.id, event_title=appt.event_title,event_city=appt.event_city,event_state=appt.event_state, event_country=appt.event_country, _external=True) }}&title={{ appt.event_title }} in {{ appt.event_city }}&description=Teachera.org!&image=https%3A%2F%2Ffbcdn-sphotos-g-a.akamaihd.net%2Fhphotos-ak-frc3%2Ft1%2F10007500_219483098251971_1640217409_n.jpg"
               title="On VK.com" target="_blank" class="btn btn-default" style="margin-right:-10px;">
                <i class="fa fa-vk fa-2x"></i>
            </a>

            <a data-toggle="modal" href="#share-email-modal" class="btn btn-default" style="margin-right:-10px;">
                <i class="fa fa-share-alt fa-2x"></i>
            </a>
        </div>
    </div>

    </div>
    </div>


    <style>
        body {

            font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 15px;
            line-height: 1.42857;
        }

        .applicants table {
            font-size: 1.2em;
            color: #1C3766;
        }

        .created_event {
            font-family: 'Lato', sans-serif;
            color: #1C3766;
        }

        .created_event h1 {
            font-size: 4em;
            font-weight: 600;
        }

        .created_event h2 {
            font-size: 2.5em;
            font-weight: 400;
        }

        .created_event h3 {
            font-size: 1.6em;
            margin: 10px 0 15px 0;
            font-weight: 500;
        }

        .created_event h4 {
            font-size: 1.6em;
            font-weight: bold;
        }

        .created_event p,
        .created_event li {
            font-size: 1.3em;
        }

        .created_event a {
            color: #5B6C7E;
            text-decoration: none;
            -webkit-transition: color .3s;
            -o-transition: color .3s;
            transition: color .3s;
            font-weight: 500;
            border-bottom: 2px solid;
        }

        .created_event a:hover {
            color: #EC5805;
            text-decoration: none;
        }

        .created_event h1,
        .created_event h2,
        .created_event h3 {
            text-align: center;
        }

        .created_event .requirements ul li {
            event: relative;
            text-transform: uppercase;
            font-weight: 500;
        }

        .organisation_details {
            padding: 60px 15px 10px 15px;
        }

        .share {
            padding-bottom: 40px;
        }

        @media (max-width: 768px) {
            .created_event h1 {
                font-size: 2.7em;
            }

            .created_event h2 {
                font-size: 2em;
            }

            .created_event h3 {
                font-size: 1.4em;
            }
        }

    </style>
{% endblock %}
{% block scripts %}
    <script>
        jQuery(function ($) {
            $('form[data-async] #emailSaveBtn').click(function (event) {
                var $form = $(this);
                var $target = $($form.attr('data-target'));

                $.ajax({
                    type: 'POST',
                    url: '/some-endpoint',
                    data: {
                        email: $('#email').val(),
                        url: '{{ url_for('events.event_details',event_id=appt.id, event_title=appt.event_title,event_city=appt.event_city,event_state=appt.event_state, event_country=appt.event_country,_external=True) }}',
                        title: '{{appt.course_title}} in {{appt.city}}',
                    },

                    success: function (data, status) {
                        console.log("success");
                        $('#share-email-modal').modal('hide');
                        $('#share-email-modal').modal('hide');
                    }

                });
                $('#share-email-modal').modal('hide');

                event.preventDefault();
            });
        });
        $('#share-email-modal').on('hidden.bs.modal', function (e) {
            $('#share-email-modal').modal('hide');
        })
    </script>
{% endblock %}