{% extends 'layouts/base.html' %}
{% import 'macros/product_macros.html' as product_wid %}

{% block content %}
    <div class="ui two column centered grid">
        <div class="column">
            <h1>Available products</h1>
        </div>
    </div>
    <div class="ui grid">
        <div class="four wide column"></div>
        <div class="eight wide column">
            <div class="ui cards">
                {% for product in appts %}
                    {{ product_wid.product_wid(product) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
