{% extends 'layouts/base.html' %}
{% import 'macros/organisation_macros.html' as org_wid %}

{% block content %}
    <div class="ui two column centered grid">
        <div class="column">
            <h1>Published Organizations</h1>
        </div>
    </div>
    <div class="ui grid">
        <div class="four wide column"></div>
        <div class="eight wide column">
            <div class="ui cards">
                {% for org in appts %}
                    {{ org_wid.org_wid(org) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
