{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}
{#{% import 'macros/post_macros.html' as post_wid %}#}

{% block page_title %}{{ user.first_name }} {{ user.last_name }}, {{ user.profession }},{{ user.city }}, {{ user.state }}{% endblock %}
{% block custom_head_tags %}
    <meta name="description"
          content="{{ user.first_name }} {{ user.last_name }}, {{ user.profession }},{{ user.summary_text }}, {{ user.city }}, {{ user.state }}, {{ user.country }}">
    <meta name="author" content="{{ config.APP_NAME }}">
    <meta name="og:title" content="{{ user.first_name }} {{ user.last_name }}, {{ user.profession }},{{ user.city }}, {{ user.state }}"/>
    <meta name="og:type" content="website"/>
    <meta name="og:url" content="https://www.{{ config.APP_NAME }}.com"/>
    <meta name="og:image" content="{{ url_for('static', filename='images/home/slider/hill.png') }}"/>
    <meta name="og:site_name" content="{{ config.APP_NAME }}"/>
    <meta name="og:description"
          content="{{ user.first_name }} {{ user.last_name }}, {{ user.profession }},{{ user.summary_text }}, {{ user.city }}, {{ user.state }}, {{ user.country }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@networkedng"/>
    <meta name="twitter:creator" content="@anioko1"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick-theme.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lightbox/css/lightbox.min.css') }}">
    <style>
        .ui.vertical.divider:after, .ui.vertical.divider:before {
            height: 100%;
        }

        .display-none {
            display: none;
        }
        .slick-prev:before, .slick-next:before {
            color: black;
        }
        .comment i.icon.ellipsis.vertical:before {
            font-size: 15px;
        }
        .comment .popup li a {
            color: rgba(0,0,0,.4);
        }
    </style>
{% endblock %}
{% block content %}
    <div class="ui grid container">
        <div class="one wide column"></div>
        <div class="ten wide computer sixteen wide mobile centered column">
            <div class="ui very padded segment">
                <div class="ui relaxed divided items">
                        <div class="content">
					    <div class="ui small image">
                            <img src="{{ user.get_photo() }}">
                        </div>
						    <h1 class="ui header">{{ user.first_name }} {{ user.last_name }}</h1>
									<div class="meta"><a>Profession: {{ user.profession or ''}}</a></div>
									<div class="meta"><a>Badges Earned:
									{% if user.newscaster_badge is not none %}
									 {{ user.newscaster_badge or ''}}
									 		{% else %}
											{% endif %}
										</a>
									</div>
									 <div class="meta"><a>{% if user.ambassador_badge is not none %}
									 {{ user.ambassador_badge or ''}}
									 		{% else %}
											{% endif %}
										</a>
									</div>
									 <div class="meta"><a>{% if user.networker_badge is not none %}
									 {{ user.networker_badge or ''}}
									 		{% else %}
											{% endif %}
										</a>
									</div>
									 <div class="meta"><a>{% if user.kw_builder_badge is not none %}
									 {{ user.kw_builder_badge or ''}}	
									 		{% else %}
											{% endif %}
										</a>
									</div>
									 <div class="meta"><a>{% if user.kw_seeker_badge is not none %}
									 {{ user.kw_seeker_badge or ''}}										 
											{% else %}
											{% endif %}
									</a></div><!---- The code for the badges is not correct, because it doesn't show the badges in multiple areas. Investigate!--->										
									<div class="meta"><a>Joined : {{ user.created_day or ''}}</a></div>
									<div class="meta"><a>Location : {{ user.city or ''}}, {{ user.state or ''}}, {{ user.country or ''}}</a></div>
                            {% if user.summary_text %}
							<div class="ui section divider"></div>
							<h2 class="header">Profile Summary</h2>
                            <div class="description"> <!---Profile description or summary goes here--->
                                {{ user.summary_text or '' }}
                            </div>
							{% endif %}

							{% if current_user.is_authenticated %}
                            {% if user != current_user %}
							    <div class="ui section divider"></div>
                                <div class="extra">
                                    {% if not current_user.is_following(user) %}
                                        <div class="ui button">
                                            <a target="_self" href="{{ url_for('main.follow', id=user.id, full_name=user.full_name) }}">Follow</a>
                                        </div>
                                    {% else %}
                                        <div class="ui button">
                                            <a target="_self" href="{{ url_for('main.unfollow', id=user.id, full_name=user.full_name) }}">Unfollow</a>
                                        </div>
                                    {% endif %}
                                    <div class="ui button">
                                        <a href="{{ url_for('main.send_message', recipient=user.id, full_name=user.full_name) }}">Message</a>
                                    </div>
                                </div>
                            {% endif %}

							{% else %}

							{% endif %}

							{% if resume  %}
				<h2 class="header">Work Experience</h2>
							{% if resume.location_city_one  %}
										 <div class="ui hidden divider"></div>
										  <a class="header">{{ resume.role_one or ''}}{{", " ~ resume.company_name_one or ''}}{{", " ~ resume.location_city_one or ''}} {{ resume.location_state_one or ''}}{{", " ~ resume.location_country_one or ''}}</a>
										  <div class="meta">
											<span class="cinema">{{ resume.start_date_one or ''}}  </span>
										  </div>
										  <div class="metan">
											<p>{{ resume.role_description_one or ''}}</p>
										  </div>
										  <div class="extra">
											<span class="cinema">{{ resume.location_city_one or ''}}{{", " ~ resume.location_state_one or ''}} </span>
											<span class="cinema">{{ resume.location_country_one or ''}}</span>	
											</div>
								{% else %}
								{% endif %}
								{% if resume.location_city_two %}

									  <a class="header">{{ resume.role_two or ''}}{{", " ~ resume.company_name_two or ''}}{{", " ~ resume.location_city_two or ''}} {{ resume.location_state_two or ''}}{{", " ~ resume.location_country_two or ''}}</a>
									  <div class="meta">
										<span class="cinema">{{ resume.start_date_two or ''}} </span>
									  </div>
									  <div class="meta">
										<p>{{ resume.role_description_two or ''}}</p>
									  </div>
									  <div class="extra">
										<span class="cinema">{{ resume.location_city_two or ''}}{{", " ~ resume.location_state_two or ''}} </span>
										<span class="cinema">{{ resume.location_country_two or ''}}</span>
									  </div>

								{% else %}
								{% endif %}
								{% if resume.location_city_three  %}

									  <a class="header">{{ resume.role_three or ''}}</a>
									  <div class="meta">
										<span class="cinema">{{ resume.start_date_three or ''}} </span>
									  </div>
									  <div class="meta">
										<p>{{ resume.role_description_three or ''}}</p>
									  </div>
									  <div class="extra">
										<span class="cinema">{{ resume.location_city_three or ''}}{{", " ~ resume.location_state_three or ''}} </span>
										<span class="cinema">{{ resume.location_country_three or ''}}</span>
									  </div>
								{% else %}
								{% endif %}
								{% if resume.location_city_four  %}
									  <a class="header">{{ resume.role_four or ''}}</a>
									  <div class="meta">
										<span class="cinema">{{ resume.start_date_four or ''}} </span>
									  </div>
									  <div class="meta">
										<p>{{ resume.role_description_four or ''}}</p>
									  </div>
									  <div class="extra">
										<span class="cinema">{{ resume.location_city_four or ''}}{{", " ~ resume.location_state_four or ''}} </span>
										<span class="cinema">{{ resume.location_country_four or ''}}</span>
									  </div>
								{% else %}
								{% endif %}
								{% if resume.location_city_five %}
									  <a class="header">{{ resume.role_five or ''}}</a>
									  <div class="meta">
										<span class="cinema"> {{ resume.start_date_five or ''}} </span>
									  </div>
									  <div class="meta">
										<p>{{ resume.role_description_five or ''}}</p>
									  </div>
									  <div class="extra">
										<span class="cinema">{{ resume.location_city_five or ''}}{{", " ~ resume.location_state_five or ''}} </span>
										<span class="cinema">{{ resume.location_country_five or ''}}</span>
									  </div>
								{% else %}
								{% endif %}
								{% if resume.location_city_six %}
									  <a class="header">{{ resume.role_six or ''}}</a>
									  <div class="meta">
										<span class="cinema"> {{ resume.start_date_six or ''}} </span>
									  </div>
									  <div class="meta">
										<p>{{ resume.role_description_six or ''}}</p>
									  </div>
									  <div class="extra">
										<span class="cinema">{{ resume.location_city_six or ''}}{{", " ~ resume.location_state_six or ''}} </span>
										<span class="cinema">{{ resume.location_country_six or ''}}</span>
									  </div>

								{% else %}
								{% endif %}
								{% endif %}
								{% if resume  %}
						   <h2 class="header">Education</h2>
                            <div class="ui section divider"></div>

								{% if resume.school_name_one  %}
									  <a class="header">{{ resume.school_name_one or ''}}</a>
									  <div class="meta">
										<span class="cinema">{{ resume.degree_description_one or ''}}{{", " ~ resume.school_end_date_one or ''}} </span>
									  </div>
									  <div class="extra">
										<span class="cinema">{{ resume.city_school_one or ''}}{{", " ~ resume.state_school_one or ''}} </span>
										<span class="cinema">{{ resume.country_school_one or ''}}</span>
									  </div>
								{% else %}
								{% endif %}
								{% if resume.school_name_two %}
									  <a class="header">{{ resume.school_name_two or ''}}</a>
									  <div class="meta">
										<span class="cinema">{{ resume.degree_description_two or ''}}{{", " ~ resume.school_end_date_two or ''}} </span>
									  </div>
									  <div class="extra">
										<span class="cinema">{{ resume.city_school_two or ''}}{{", " ~ resume.state_school_two or ''}} </span>
										<span class="cinema">{{ resume.country_school_two or ''}}</span>
									  </div>
								{% else %}
								{% endif %}
								{% if resume.school_name_three  %}
									  <a class="header">{{ resume.school_name_three or ''}}</a>
									  <div class="meta">
										<span class="cinema">{{ resume.degree_description_three or ''}}{{", " ~ resume.school_end_date_three or ''}} </span>
									  </div>
									  <div class="extra">
										<span class="cinema">{{ resume.city_school_three or ''}}{{", " ~ resume.state_school_three or ''}} </span>
										<span class="cinema">{{ resume.country_school_three or ''}}</span>
									  </div>
								{% else %}
								{% endif %}
								{% if resume.school_name_four %}
									  <a class="header">{{ resume.school_name_four or ''}}</a>
									  <div class="meta">
										<span class="cinema">{{ resume.degree_description_four or ''}}{{", " ~ resume.school_end_date_four or ''}} </span>
									  </div>
									  <div class="extra">
										<span class="cinema">{{ resume.city_school_four or ''}}{{", " ~ resume.state_school_four or ''}} </span>
										<span class="cinema">{{ resume.country_school_four or ''}}</span>
									  </div>
								{% else %}
								{% endif %}
								{% if resume.school_name_five %}
									  <a class="header">{{ resume.school_name_five or ''}}</a>
									  <div class="meta">
										<span class="cinema">{{ resume.degree_description_five or ''}}{{", " ~ resume.school_end_date_five or ''}} </span>
									  </div>
									  <div class="extra">
										<span class="cinema">{{ resume.city_school_five or ''}}{{", " ~ resume.state_school_five or ''}} </span>
										<span class="cinema">{{ resume.country_school_five or ''}}</span>
									  </div>
								{% else %}
								{% endif %}
								{% endif %}
		
								{% if extra %}
						   <h2 class="header">Skills</h2>
                            <div class="ui section divider"></div>	
									  <div class="ui list">
										<li>{{ extra.required_skill_one or ''}}</li>
										<li>{{ extra.required_skill_two or ''}}</li>
										<li>{{ extra.required_skill_three or ''}}</li>
										<li>{{ extra.required_skill_four or ''}}</li>
										<li>{{ extra.required_skill_five or ''}}</li>
										<li>{{ extra.required_skill_six or ''}} </li>
										<li>{{ extra.required_skill_seven or ''}}</li>
										<li>{{ extra.required_skill_eight or ''}}</li>
										<li>{{ extra.required_skill_nine or ''}}</li>
										<li>{{ extra.required_skill_ten or ''}}</li>
									  </div>
								{% else %}
								{% endif %}		
										  
			  </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lightbox/js/lightbox.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.slick').slick({
                infinite: false,
            });
        });

        function like(post_id, user_id) {
            $.post("{{url_for('post.like_post', post_id=100, user_id=1000)}}".replace(/100/, post_id).replace(/1000/, user_id),
                {
                    csrf_token: "{{csrf_token()}}",
                },
                function (data, status) {
                    data = JSON.parse(data)
                    if (data.status == 'success') {
                        $("#like-count-" + post_id).html("(" + data.count + " likes) ");
                        if (data.liked == 1) {
                            $("#like-icon-" + post_id).removeClass("outline")
                        } else {
                            $("#like-icon-" + post_id).addClass("outline");
                        }
                    }
                });
        }
    </script>
{% endblock %}