{% extends 'layouts/base.html' %}
{% block page_title %}{{ config.APP_NAME }} - Sitemap of Wholesalers{% endblock %}
{% block custom_head_tags %}
    <meta name="description"
          content="{{ config.APP_NAME }} sitemap of wholesalers">
    <meta name="author" content="{{ config.APP_NAME }}">
    <meta name="og:title" content="{{ config.APP_NAME }} sitemap of wholesalers"/>
    <meta name="og:type" content="website"/>
    <meta name="og:url" content="https://www.{{ config.APP_NAME }}.com"/>
    <meta name="og:image" content="{{ url_for('static', filename='images/home/slider/hill.png') }}"/>
    <meta name="og:site_name" content="{{ config.APP_NAME }}"/>
    <meta name="og:description"
          content="{{ config.APP_NAME }} sitemap of wholesalers"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@networkedng"/>
    <meta name="twitter:creator" content="@anioko1"/>
{% endblock %}
{% block content %}


	<div class="ui text container">
     <h1>Sitemap of sitemaps (Businesses to Businesses)</h1>
		<div class="ui list">
			<a href="/sitemap/wholesalers/" class="item">Wholesalers Sitemap</a>
			<a href="/sitemap/distributors/" class="item">Distributors Sitemap</a>
			<a href="/sitemap/importers/" class="item">Importers Sitemap</a>
			<a href="/sitemap/retailers/" class="item">Retailers Sitemap</a>
			<a href="/sitemap/manufacturers/" class="item">Manufacturers Sitemap</a>		
		</div>
    </div>
{% endblock %}