{% macro service_wid(service) -%}
    <div class="card">
        <div class="content">
            <div class="header">
                <a href="{{ url_for('services.service_details', service_id=service.id, service_category=service.service_category, service_title=service.service_title, service_city=service.service_city, service_state=service.service_state, service_country=service.service_country) }}">{{ service.service_title }}</a>
            </div>
            <div class="meta">Offered By :<span class="ui primary label">{{ service.organisation.org_name }}</span></div>
            <div class="meta">City : {{ service.service_city }}</div>
			<div class="meta">State : {{ service.service_state }}</div>
            <div class="meta">Country : {{ service.service_country }}</div>
        </div>
    </div>
{%- endmacro %}